<%- include('head.ejs') %>
<body>
    <div class="container my-5">
        <pre class="mt-1 mb-2 col-12 mx-auto">
            <code class="bash language-bash">
#!/usr/bin/env bash
#
#        ___    _______     ___   
#       /   )  (  __   )   /   )  
#      / /) |  | (  )  |  / /) |  
#     / (_) (_ | | /   | / (_) (_ 
#    (____   _)| (/ /) |(____   _)
#         ) (  |   / | |     ) (  
#         | |  |  (__) |     | |  
#         (_)  (_______)     (_)  
#                    
# Sorry! 
# This page doesn't exist anymore 
#                    
            </code>
        </pre>
        <div class="col-12 mx-auto">
            <% if (posts.length > 0) { %>
            <h4 class="text-body-emphasis mb-4">Here is other available contents: </h4>
            <div class="row">
                <% posts.forEach(post => { %>
                <!-- item list -->
                <%- include('post-item.ejs', { post: post }) %>
                <% }) %>
            </div>
            <% } %>
            <%- include('back-to-home.ejs') %>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>
</html>