<button 
    onclick="window.location = '<%= content.domain %>'" 
    class="btn text-secondary d-block my-4 p-0" 
    style="cursor: pointer; font-size: .9em;"
    >&#8592; Back to home page</button>