<footer>
	<div class="container mt-5">
		<hr />
        <div class="row my-4 px-1">
            <div class="col-12">
                <code class="text-body-emphasis">Created with ☕. Powered by GitHub</code>
            </div>
        </div>
        <div class="d-inline-block px-2">
            <a href="https://github.com/ARTM2000" target="_blank">
                <img src="<%= content.domain %>/img/github-mark-white.png" width="30px" alt="github" />
            </a>
        </div>
        <div class="d-inline-block px-2">
            <a href="https://linkedin.com/in/alirezatanoomandian" target="_blank">
                <img src="<%= content.domain %>/img/linkedin.png" width="30px" alt="github" />
            </a>
        </div>
        <br><br><br><br><br>
	</div>
	<script defer>
		hljs.highlightAll();
	</script>
	<script defer>
		// const darkModeActive = document.querySelector('html').dataset.bsTheme === 'dark'
		document.querySelectorAll("table").forEach((element) => {
			element.className +=
				" table table-striped table-bordered border border-3";
		});
		document.querySelectorAll("tbody").forEach((element) => {
			element.className += " table-group-divider";
		});
	</script>
</footer>
