<%- include('head.ejs') %>
<body>
    <div class="container mt-5 p-3">
        <div id="home-intro" class="w-100 p-2 sm-12 col-12">
            <%- content.introduction %>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="w-100 p-2 mt-3 mb-3" id="blog_list">
                    <% if (posts.length === 0) { %>
                     <h4 class="text-body-emphasis my-4 text-center">
                        We'll come soon 😉
                     </h4>
                    <% } %>
                    <% posts.forEach(post => { %>
                    <!-- item list -->
                    <%- include('post-item.ejs', { post: post }) %>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>
</html>