* {
	/* Or what selector you need */
	unicode-bidi: plaintext;
	text-align: start; /* Align text automatically left/right*/
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-family: "Roboto", "Vazirmatn", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

p, li {
	font-family: "Roboto", "Vazirmatn", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	line-height: 1.7;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin-top: 0.7em;
}

h1 {
	font-size: 3rem;
}

#post-title {
	font-size: 3.5rem;
}

.content h2 {
	font-size: 2.5rem;
}

.content p,
.content li {
	font-size: 1.2rem;
}

.content img {
	margin: 5px auto;
	border-radius: 10px;
	display: block;
	width: 100%;
	/* cursor: zoom-in; */
}

pre code {
	padding: 10px 15px;
	border-radius: 10px;
}

blockquote {
	font-size: 1.4em;
	width: 100%;
	margin: 30px auto;
	font-style: italic;
	padding: .5em 20px;
	border-left: 8px solid #7a7a7a;
	position: relative;
	background: #80808013;
	border-radius: 10px;
}

blockquote p {
	margin: 5px 10px;
}

#home-intro {
	text-wrap: wrap;
	overflow-wrap: break-word;
}

#home-intro h1 {
	font-size: 4.3rem;
}

#home-intro h2 {
	font-size: 3.8rem;
}
